<template>
    <div>
        <v-carousel
            delimiter-icon="lens"
            prev-icon="keyboard_arrow_left"
            next-icon="keyboard_arrow_right"
        >
            <v-carousel-item :src="require('./../../assets/1.jpg')"></v-carousel-item>
            <v-carousel-item :src="require('./../../assets/2.jpg')"></v-carousel-item>
            <v-carousel-item :src="require('./../../assets/3.jpg')"></v-carousel-item>
            <v-carousel-item :src="require('./../../assets/4.jpg')"></v-carousel-item>
        </v-carousel>
    </div>
</template>

<script>

</script>

<style scoped>

</style>