<template>
    <div>
        <v-footer dark height="auto">
            <v-layout
            justify-center
            row
            wrap
            >
                <v-flex
                primary
                blue darken-4
                py-3
                text-xs-center
                white--text
                xs12
                >
                    &copy; 2018 — <strong>Powered By NectarineIT</strong>
                </v-flex>
            </v-layout>
        </v-footer>
    </div>
</template>

<script>

</script>

<style scoped>

</style>