<template>

    <div>
        <v-navigation-drawer
        v-model="drawer"
        absolute
        temporary
        >
        <v-toolbar flat class="blue darken-4 white" dark>
            <v-autocomplete
            :loading="loading"
            :items="items"
            :search-input.sync="search"
            v-model="select"
            class="hidden-lg-only"
            cache-items
            flat
            hide-no-data
            hide-details
            label="What Would You Like ?"
            solo-inverted
            prepend-inner-icon="search"
            ></v-autocomplete>
            <v-toolbar-title class="hidden-sm-and-down">
                CATEGORIES
            </v-toolbar-title>
        </v-toolbar>

        <v-list class="pt-0" dense>
            <v-divider></v-divider>

            <v-list-tile
            v-for="item in categories"
            :key="item.title"
            :to="{ name: item.route}"
            class="blue--text text--darken-4"
            >
            <v-list-tile-action>
                <v-icon class="blue--text text--darken-4">{{ item.icon }}</v-icon>
            </v-list-tile-action>

            <v-list-tile-content>
                <v-list-tile-title>{{ item.title }}</v-list-tile-title>
            </v-list-tile-content>
            </v-list-tile>
            <v-divider light></v-divider>
            <v-list-tile
            v-for="item in menu_items"
            :key="item.title"
            @click=""
            class="blue--text text--darken-4"
            :to="{ name: item.route}"
            exact 
            exact-active-class
            >
            <v-list-tile-action>
                <v-icon class="blue--text text--darken-4">{{ item.icon }}</v-icon>
            </v-list-tile-action>

            <v-list-tile-content>
                <v-list-tile-title>{{ item.title }}</v-list-tile-title>
            </v-list-tile-content>
            </v-list-tile>
        </v-list>
        </v-navigation-drawer>
        <v-toolbar class="blue darken-4 white" dark app>
            <v-btn icon @click.stop="drawer = !drawer">
                <v-icon>view_headline</v-icon>
            </v-btn>
            <v-toolbar-title>
                <v-btn :to="{ name: 'Home'}" flat>NICE RATES</v-btn>
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-autocomplete
            :loading="loading"
            :items="items"
            :search-input.sync="search"
            v-model="select"
            class="hidden-sm-and-down"
            cache-items
            flat
            hide-no-data
            hide-details
            label="What Would You Like ?"
            solo-inverted
            prepend-inner-icon="search"
            ></v-autocomplete>
            <v-spacer></v-spacer>
            <v-toolbar-items class="hidden-sm-and-down">
                <v-menu offset-y>
                    <v-btn
                        slot="activator"
                        flat
                    >
                        Categories <v-icon>keyboard_arrow_down</v-icon>
                    </v-btn>
                    <v-list>
                        <v-list-tile
                        v-for="(category, index) in categories"
                        :key="index"
                        :to="{ name: category.route}"
                        >
                        <v-list-tile-title>{{ category.title }}</v-list-tile-title>
                        </v-list-tile>
                    </v-list>
                </v-menu>
                <v-btn flat :to="{ name: 'About'}" exact exact-active-class>About Us</v-btn>
                <v-btn flat :to="{ name: 'Terms'}" exact exact-active-class>Terms And Conditions</v-btn>
            </v-toolbar-items>
        </v-toolbar>
    </div>

</template>

<script>
    export default {
        name: 'Toolbar',
        data() {
            return {
                drawer: null,
                menu_items: [
                { title: 'Home', icon: 'home', route: 'Home' },
                { title: 'About Us', icon: 'layers', route: 'About' },
                { title: 'Terms And Conditions', icon: 'question_answer', route: 'Terms' }
                ],
                categories: [
                    { title: 'Memory Cards', icon: 'sd_card', route: 'Category' },
                    { title: 'Flash Disks', icon: 'usb', route: 'Category' },
                    { title: 'Computer Accessories', icon: 'desktop_mac', route: 'Category' },
                    { title: 'Phone Accessroies', icon: 'phone_android', route: 'Category' },
                    { title: 'Laptops', icon: 'laptop', route: 'Category' },
                    { title: 'Headphones And Speakers', icon: 'headset_mic', route: 'Category' },
                    { title: 'Services And Repairs', icon: 'devices', route: 'Category' },
                ],
                loading: false,
                items: [],
                products: [],
                search: null,
                select: null
            }
        },
        watch: {
            search (val) {
                val && val !== this.select && this.querySelections(val)
            }
        },
        methods: {
            querySelections (v) {
                for (var i = 0; i < this.categories.length ; i++) {
                    var exists = this.products.indexOf(this.categories[i].title) !== -1;
                    if(!exists){
                        this.products.push(this.categories[i].title);
                    }
                }
                this.loading = true
                // Simulated ajax query
                setTimeout(() => {
                this.items = this.products.filter(e => {
                    return (e || '').toLowerCase().indexOf((v || '').toLowerCase()) > -1
                })
                this.loading = false
                }, 500);
            }
        }
    }
</script>

<style scoped>

</style>