<template>
    <div>
        <v-card>
            <v-card-media :src="src" height="200px"></v-card-media>
            <v-card-title primary-title>
                <div>
                    <h3 class="headline mb-0">{{heading}}</h3>
                    <div>{{content}}</div>
                </div>
            </v-card-title>
            <v-card-actions>
                <v-btn color="blue darken-4" round dark>View</v-btn>
            </v-card-actions>
        </v-card>
    </div>
</template>

<script>
    export default {
        name: 'Product',
        data() {
            return {
                src: this.source,
                heading: this.title,
                content: this.description
            }
        },
        props: {
            source: {
                type: String,
                required: true
            },
            title: {
                type: String,
                required: true
            },
            description: {
                type: String,
                required: true
            }
        }
    }
</script>

<style scoped>
    
</style>