<template>

    <div>
        <Toolbar />

        <v-content>

            <section class="wrapper">

                <v-layout
                row
                wrap
                class="my-1"
                align-center
                >
                    <v-container>
                        <v-flex xs8 offset-xs2 class="my-1">
                            <h1 class="headline mb-3">About Nice Rates</h1>
                            <hr>
                            <div class="my-5">
                                <h2 class="headline">About Us</h2>
                                <span class="subheading">
                                    We value the your time as our customer thus we designed this online platform to ease your shopping experience.We assists you to choose products from a variety of manufacturers accompanied by respective prices.
                                </span>
                            </div>
                            <div class="my-5">
                                <h2 class="headline">Why choose us.</h2>
                                <span class="subheading">
                                    We are dedicated to offering you high quality services and superior products that are reliable, durable and efficient.We also make sure that we reduce the cost of shopping by sourcing from the best vendors to make sure that you dont have a big financial burden.
                                </span>
                            </div>
                            <div class="my-5">
                                <h2 class="headline">Our Goals.</h2>
                                <span class="subheading">
                                    We aim to grow to the capacity of making deliveries to any part of Kenya in the near future so that we can reach you and serve you at any town within the country. This will greatly ease online shopping.
                                </span>
                            </div>
                            <div class="my-5">
                                <h2 class="headline">Our achievements.</h2>
                                <span class="subheading">
                                    We have successfully made many deliveries of units of accessories to offices, universities and neighborhoods within Nairobi for the past two years.
                                </span>
                            </div>
                        </v-flex>
                    </v-container>

                </v-layout>
            </section>
            <Footer />
        </v-content>
    </div>

</template>

<script>
    import Toolbar from './includes/Toolbar'
    import Footer from './includes/Footer'
    export default {
        name: 'About',
        components: {
            Toolbar,
            Footer
        }
    }

</script>

<style scoped>
    .wrapper{
        min-height: 550px;
    }
</style>