<template>

    <div>
        <Toolbar />

        <v-content>

            <section class="wrapper">

                <v-layout
                row
                wrap
                class="my-1"
                align-center
                >
                    <v-container>
                        <v-flex xs10 offset-xs1 class="my-1">
                            <v-container grid-list-xl>
                                <v-layout row wrap>
                                    <v-flex xs12>
                                        <h2>Category Name</h2>
                                    </v-flex>
                                    <v-flex xs12 md4>
                                        <Product :source="require('./../assets/products/1.png')" :title="'Earphones'" :description="'Get these HI-FI stereo earphones that come with a calling headset that enables you to pick calls with clarity. Good music Good life.'" />
                                    </v-flex>
                                    <v-flex xs12 md4>
                                        <Product :source="require('./../assets/products/2.png')" :title="'Flash Disks'" :description="'The flash drive offers a fast convinient way of backing up and transferring your most important photos videos and data...'" />
                                    </v-flex>
                                    <v-flex xs12 md4>
                                        <Product :source="require('./../assets/products/3.png')" :title="'Headphones'" :description="'These bluetooth headphones support tf/memory card, have an adjustable rubber band, all you need to do is to pair to ...'" />
                                    </v-flex>
                                </v-layout>
                            </v-container>
                            
                        </v-flex>
                    </v-container>

                </v-layout>
            </section>
            <Footer />
        </v-content>
    </div>

</template>

<script>
    import Toolbar from './includes/Toolbar'
    import Product from './includes/products/Product'
    import Footer from './includes/Footer'
    export default {
        name: 'Category',
        components: {
            Toolbar,
            Product,
            Footer
        }
    }

</script>

<style scoped>
    .wrapper{
        min-height: 550px;
    }
    h1 {
        font-size: 12em;
    }
    p {
        font-size: 3em;
    }
</style>