<template>
  <div>
    <Toolbar />
    <v-content>
        <section>
            <Carousel />
        </section>
        <section>
            <v-layout
            column
            wrap
            class="my-5"
            align-center
            >
                <v-flex xs12 sm4 class="my-3">
                    <div class="text-xs-center">
                    <h2 class="headline">Most Popular</h2>
                    <span class="subheading">
                        Available Products.
                    </span>
                    </div>
                </v-flex>
                <v-flex xs12>
                    <v-container grid-list-xl>
                        <v-layout row wrap>
                            <v-flex xs12 md4>
                                <Product :source="require('./../assets/products/1.png')" :title="'Earphones'" :description="'Get these HI-FI stereo earphones that come with a calling headset that enables you to pick calls with clarity. Good music Good life.'" />
                            </v-flex>
                            <v-flex xs12 md4>
                                <Product :source="require('./../assets/products/2.png')" :title="'Flash Disks'" :description="'The flash drive offers a fast convinient way of backing up and transferring your most important photos videos and data...'" />
                            </v-flex>
                            <v-flex xs12 md4>
                                <Product :source="require('./../assets/products/3.png')" :title="'Headphones'" :description="'These bluetooth headphones support tf/memory card, have an adjustable rubber band, all you need to do is to pair to ...'" />
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-flex>
            </v-layout>
        </section>
        <section>
            <v-parallax :src="require('./../assets/5.jpg')" height="200">
                <div class="overlay"></div>
                <v-layout wrap column align-center justify-center>
                    <div class="headline white--text mb-3 text-xs-center z-index">We are dedicated to offering superior products that are reliable, durable and efficient.</div>
                </v-layout>
            </v-parallax>
        </section>
        <section>
        <v-container grid-list-xl>
          <v-layout row wrap justify-center class="my-5">
            <v-flex xs12 sm4>
              <v-card flat class="transparent">
                <v-card-title primary-title class="layout justify-center">
                  <div class="headline">About Nice Rates</div>
                </v-card-title>
                <v-card-text>
                  We value the your time as our customer thus we designed this online platform to ease your shopping experience. We assists you to choose products from a variety of manufacturers accompanied by respective prices.
                </v-card-text>
              </v-card>
            </v-flex>
            <v-flex xs12 sm4 offset-sm1>
              <v-card flat class="transparent">
                <v-card-title primary-title class="layout justify-center">
                  <div class="headline">Contact us</div>
                </v-card-title>
                <v-card-text>
                  Dominion house opposite Imenti house along Tom Mboya street, 1st floor, shop number F3
                </v-card-text>
                <v-list class="transparent">
                  <v-list-tile>
                    <v-list-tile-action>
                      <v-icon class="blue--text text--darken-4">phone</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                      <v-list-tile-title>(+254)0720631908, (+254)0708075265</v-list-tile-title>
                    </v-list-tile-content>
                  </v-list-tile>
                  <v-list-tile>
                    <v-list-tile-action>
                      <v-icon class="blue--text text--darken-4">place</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                      <v-list-tile-title>Dominion House</v-list-tile-title>
                    </v-list-tile-content>
                  </v-list-tile>
                  <v-list-tile>
                    <v-list-tile-action>
                      <v-icon class="blue--text text--darken-4">email</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                      <v-list-tile-title>info@nicerates.co.ke</v-list-tile-title>
                    </v-list-tile-content>
                  </v-list-tile>
                </v-list>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </section>
      <Footer />
    </v-content>
  </div>
</template>

<script>
import Toolbar from './includes/Toolbar'
import Carousel from './includes/Carousel'
import Product from './includes/products/Product'
import Footer from './includes/Footer'
export default {
  name: 'Home',
  components: {
      Toolbar,
      Carousel,
      Product,
      Footer
  },
  data () {
        return {
            
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}

.z-index{
    z-index: 20;
}

</style>
