<template>

    <div>
        <Toolbar />

        <v-content>

            <section class="wrapper">

                <v-layout
                row
                wrap
                class="my-1"
                align-center
                >
                    <v-container>
                        <v-flex xs8 offset-xs2 class="my-1">
                            <div class="my-5">
                                <h1 class="text-xs-center">404</h1>
                                <p class="text-xs-center">Sorry! Page Not Found.</p>
                            </div>
                            
                        </v-flex>
                    </v-container>

                </v-layout>
            </section>
            <Footer />
        </v-content>
    </div>

</template>

<script>
    import Toolbar from './includes/Toolbar'
    import Footer from './includes/Footer'
    export default {
        name: 'NotFound',
        components: {
            Toolbar,
            Footer
        }
    }

</script>

<style scoped>
    .wrapper{
        min-height: 550px;
    }
    h1 {
        font-size: 12em;
    }
    p {
        font-size: 3em;
    }
</style>