<template>

    <div>
        <Toolbar />

        <v-content>

            <section class="wrapper">

                <v-layout
                row
                wrap
                class="my-1"
                align-center
                >
                    <v-container>
                        <v-flex xs8 offset-xs2 class="my-1">
                            <h1 class="headline mb-3">Terms And Conditions</h1>
                            <hr>
                            <div class="my-5">
                                <h2 class="headline">Delivery.</h2>
                                <span class="subheading">
                                    We always make efforts to deliver products in a timely manner so as to ensure our customers enjoy full utility of the products they buy from us. Delivery of products within Nairobi cbd and upperhill is free thus there are no charges added to the price of the product. Delivery of products to areas surrounding Nairobi cbd attract charges equivalent to the cost of commuting to the particular location. Delivery of products to towns far fom Nairobi is done through parcel delivery. This is facilitated through the use of reliable public service saccos which the customer is free to choose.
                                </span>
                            </div>
                            <div class="my-5">
                                <h2 class="headline">Payment.</h2>
                                <span class="subheading">
                                    Payments shall be made on terms of cash on delivery for orders within Nairobi cbd and upperhill. Orders made from areas near the cbd will also attract payment in the form of cash on delivery. Orders that require delivery through parcel will be serviced on the basis of cash with order. Partner with us
                                </span>
                            </div>
                            <div class="my-5">
                                <h2 class="headline">Time of operation.</h2>
                                <span class="subheading">
                                    Monday to Saturday <br />8.00 am to 5.00 pm
                                </span>
                            </div>
                        </v-flex>
                    </v-container>

                </v-layout>
            </section>
            <Footer />
        </v-content>
    </div>

</template>

<script>
    import Toolbar from './includes/Toolbar'
    import Footer from './includes/Footer'
    export default {
        name: 'About',
        components: {
            Toolbar,
            Footer
        }
    }

</script>

<style scoped>
    .wrapper{
        min-height: 600px;
    }
</style>